# Ignore environment files
.env
.env.local
.github/workflows/.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.py.class

# Virtual environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Streamlit config
.streamlit/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
